<div class="sessions_new">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<h1 style="color:white;font-size:125px">Log In</h1>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div style="color:grey;font-size:20px"class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div style="color:grey;font-size:20px"class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div style="color:grey;font-size:20px"class="actions"><%= submit_tag "Log In" %></div>
</div>
<% end %>