<div class="users_edit">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<h1 style="color:black;font-size:100px">Edit Your Profile Here</h1> 
<br>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages do %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <form>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :age %>
        <%= f.text_field :age %>
      </div>
      <br>

      <div class="form-group">
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(['Male', 'Female', 'Transgender', 'Not Important'], @user[:gender]) %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio %>
      </div>
      <br>
      <div style="color:grey;font-size:20px"class="actions">
        <%= f.submit %>
      </div>
    </form>
</div>
<% end %>